[submodule "Learning"]
	path = Learning
	url = ../Learning.git
[submodule "Obsidian"]
	path = Obsidian
	url = ../Obsidian.git
[submodule "Windows-Dev"]
	path = Windows-Dev
	url = ../windows-dev.git
[submodule "C++"]
	path = C++
	url = ../cpp.git
