# /位于头部的作用是只忽略当前目录下的内容；放在尾部的作用是只忽略目录，而不忽略文件
# 头尾都没有 /  ​当前目录及下级目录中所有的runtime​​文件或目录都会被忽略​​
# 前面有 /     ​只忽略当前目录中的 runtime 文件或目录​​, 不忽略下级目录中的 runtime 文件或目录​​
# 后面有 /     ​只忽略当前目录和下级目录中的 runtime 目录​​, 不忽略当前目录和下级目录中的 runtime 文件​​
# 头尾都有 /   ​只忽略当前目录中的 runtime 目录​​

# 每一层都要指定不忽略的目录

*
!Lab_*/
!Lab_*/.vscode
!Lab_*/.vscode/**
!Lab_*/user
!Lab_*/user/**
!Lab_*/prj
!Lab_*/prj/**
!Lab_*/simulation
!Lab_*/simulation/**
*/.xpr